* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

[data-wordCloud-controls] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border: 2px solid #ff3a21;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

[data-wordCloud-controls] input {
    outline-color:#ff3a21;
    margin-bottom: 10px;
    padding: 5px 8px;
}


[data-wordCloud-controls] button {
    border: 1px solid #ff3a21;
    padding: 3px 6px;
    border-radius: 3px;
    color: #ff3a21;
    cursor: pointer;
    background-color: transparent;
}

[data-wordCloud-controls] button:hover {
    background-color: #ff3a21;
    color: #fff;
}

[data-confirmation] {
    margin-top: 10px;
    color: #56c02b;
    display: none;
}

[data-wordCloud-container] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 115px;
}

.increased-padding {
    padding-top: 145px !important;
}

[data-wordCloud-container] span {
    padding: 0 8px;
}


[data-wordCloud-container] span:nth-child(13n + 1) {
    color: #19486a;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 2) {
    color: #0a97d9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 3) {
    color: #3f7e44;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 4) {
    color: #dda63a;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 5) {
    color: #56c02b;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 6) {
    color: #dd1367;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 7) {
    color: #00689d;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 8) {
    color: #fd6925;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 9) {
    color: #4c9f38;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 10) {
    color: #bf8b2e;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 11) {
    color: #26bde2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 12) {
    color: #a21942;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 12) {
    color: #ff3a21;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
