* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-wordCloud-controls] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

[data-wordCloud-controls] input {
    outline-color:#ff3a21;
    margin-bottom: 10px;
}


[data-wordCloud-controls] button {
    border: 1px solid #ff3a21;
    padding: 3px 6px;
    border-radius: 3px;
    color: #ff3a21;
    cursor: pointer;
    background-color: transparent;
}

[data-wordCloud-controls] button:hover {
    background-color: #ff3a21;
    color: #fff;
}

[data-wordCloud-container] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


[data-wordCloud-container] span:nth-child(13n + 1) {
    color: #19486a;
    align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 2) {
    color: #0a97d9;
    align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 3) {
    color: #3f7e44;
    align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 4) {
    color: #dda63a;
    align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 5) {
    color: #56c02b;
    align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 6) {
    color: #dd1367;
    align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 7) {
    color: #00689d;
    align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 8) {
    color: #fd6925;
    align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 9) {
    color: #4c9f38;
    align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 10) {
    color: #bf8b2e;
    align-items: flex-start;
}

[data-wordCloud-container] span:nth-child(13n + 11) {
    color: #26bde2;
    align-items: center;
}

[data-wordCloud-container] span:nth-child(13n + 12) {
    color: #a21942;
    align-items: flex-end;
}

[data-wordCloud-container] span:nth-child(13n + 12) {
    color: #ff3a21;
    align-items: flex-start;
}

